@keyframes FadeInWeather{
    from{
        opacity: 0;
        transform: translateX(20px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}
#weather {
    display: flex;
    position: absolute;
    top: 5px;
    right: 10px;
    animation: FadeInWeather .5s ease-in-out;
}
#weather i{
    margin-right: 5px;
}
#weather__info{
    position: relative;
    display: flex;
    transform: translateY(-14px);
}
.box{
    width: 130px;
    height: 70px;
}
#weather__info div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#loading{
    margin-top: 11px;
}
@keyframes FadeInBackground{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#weather__background{
    display:flex;
    position:absolute;
    top: 0;
    right: 0;
    width: 140px;
    height: 55px;
    background-color: rgba(156,156,156, 0.6);
    border-radius: 0% 0% 0% 50%;
    z-index: -1;
    border: 1px solid black;
    animation: FadeInBackground .6s ease-in-out;
}
#error i{
    margin: 0;
}